.article {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 928px;
}

@media only screen and (max-width: 575px) {
    .article h1 {
        font-size: 24px;
    }

    .article h2 {
        font-size: 20px;
    }

    .icons svg {
        width: 100px;
        height: 100px;
    }

    div.icons {
        gap: 28px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.icons {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

[dir="rtl"] .iconsRtl {
    transform: scaleX(-1);
}